.select {
  color: #fff;
  display: flex;
  min-width: 12rem;
  position: relative;
  padding: 0.4rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  background: #2a2a2a;
  user-select: none;
  align-items: center;
}

.select:hover {
  background: #333333;
  transform: translate(0, 1px);
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

.select ul {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #030303DA;
  min-width: 100%;
  padding: 0;
  z-index: 9999;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  animation-duration: 0.3s;
  animation-name: growOut;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #fafafa;
}

.select ul li {
  opacity: 50%;
}

.select ul li:hover {
  opacity: 100%;
  color: white;
  transition: 0.3s ease-in-out;
}

.reversed {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #030303DA;
  min-width: 100%;
  padding: 0;
  z-index: 9999;
  border-radius: 0.3rem;
  animation: growOut .3s cubic-bezier(.25, .46, .45, .94) reverse both;
  color: #fafafa;
}

.selected {
  display: flex;
  width: 100%;
  gap: 3px;
  align-items: center;
  justify-content: space-around;
}

@keyframes growOut {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 1
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1
  }
}