.IconWrapper img {
    width: 45px;
    height: 45px;
}

.IconWrapper .ManyIcons {
    position: relative;
    width: 45px;
    height: 45px;
}

.IconWrapper .ManyIcons img {
    position: absolute;
    width: 34px;
    height: 34px;
}

.IconWrapper .ManyIcons img:last-child {
    right: 0;
}